@model MyCMS.ViewModel.HomePageViewModel
@{
    ViewBag.Title = "My CMS";
}

<div class="row">

    @*-------------sidebar block1*@
    <div id="tagList" class="col-md-3  hidden-xs">
        <div class="panel panel-default top30 ">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#"><i class="glyphicon glyphicon-list-alt"> Categories</i></a>
                </h3>
            </div>
            <ul class="list-group col-md-12" id="categoryDiv">
                @foreach (var cat in Model.Categories)
                {
                    var linkId = "cat" + cat.Id;

                <li class="list-group-item" role="presentation">
                    <a href="#">
                        <i class="glyphicon glyphicon-asterisk" title=""></i>
                        </a>
                        <a href="#" id=@linkId> @cat.Name</a>
                        <span class="badge badge-primary pull-right">@cat.PostCount</span>

                    </li>
                }
            </ul>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="next pull-right pageButton">
                            All Categories<span aria-hidden="true">→</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        @if (Request.IsAuthenticated &&(User.IsInRole("User") || User.IsInRole("Admin")))
        {
            <div class="panel panel-default top30">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="#"><i class="glyphicon glyphicon-list-alt"> User Area</i></a>
                    </h3>
                </div>
                <ul class="list-group col-md-12" id="userPanel">

                    <li class="list-group-item" role="presentation">
                        <a href="#">
                            <i class="glyphicon glyphicon-apple" title=""></i>
                        </a>
                        <a href="@Url.Action("Create", "Home")"> New Post</a>
                    </li>
                    <li class="list-group-item" role="presentation">
                        <a href="#">
                            <i class="glyphicon glyphicon-apple" title=""></i>
                        </a>
                        <a href="#"> Edit Profile</a>
                    </li>
                    <li class="list-group-item" role="presentation">
                        <a href="#">
                            <i class="glyphicon glyphicon-apple" title=""></i>
                        </a>
                        @Html.ActionLink("Show my posts","UserPostList","Home");

                    </li>


                </ul>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="next pull-right pageButton">
                                All Categories<span aria-hidden="true">→</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="panel panel-default top30 ">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#"><i class="glyphicon glyphicon-list-alt"> Site visit information</i></a>
                </h3>
            </div>

            <div class="panel-body">
                Site visit information...
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12 ">
                        @*<a href="#" class="next pull-right pageButton">
                                <span aria-hidden="true"></span>
                            </a>*@
                    </div>
                </div>
            </div>
        </div>

    </div>
    @*-------------sidebar block1*@
    <!-- /sidebar -->
    <div class="col-md-9 col-xs-12">

        @{Html.RenderPartial("_DisplayCarousel", Model.Posts);}

        <div id="postArea">
            @foreach (var post in Model.Posts)
            {
               
                Html.RenderPartial("_PostItemPanel", post);
            }
            @*@{ Html.RenderPartial("_LisPostAjax", Model);}*@
        </div>

    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $('#btnTempCreate').on('Click', function () {


            });

        })
    </script>
}